.container {
    color: var(--color-text);
    margin-top: 120px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    width: 100vw;
    padding: 58px 10%;
    gap: 10px;
}

.text h2 {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 4px;
    text-align: center;
}

.text p {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center; 
    list-style: none;
    gap: 26px;
}

.link {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}

.link a, .formInput, .textarea, .sendButton {
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.formInput, .textarea {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.textarea {
    height: 120px;
    resize: none;
}

.sendButton {
    padding: 10px 20px;
    background-color: var(--color-primary);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 100px;
    display: block;
    margin: auto;
}

.sendButton:hover {
    background-color: var(--color-highlight);
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column;
        gap: 23px;
    }

    .text, .links, .formContainer {
        align-items: center;
    }

    .contactForm {
        width: 80%;  
    }
}
